body {
    background-color: #b8b6f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    position: relative;
    height: 200px; /* Adjust header height */
    color: #fff;
    text-align: center;
    font-size: larger;
    overflow: hidden; /* Ensures canvas fits inside */
}

header h1, header nav {
    margin-top: 25px;
    position: relative;
    z-index: 2; /* Keep text and nav above stars */
}

#starCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1; /* Background stars */
}

h1 {
    margin-top: -8px;
    text-align: center;
}

nav {
    display: flex;
    /* Makes the nav a flex container */
    justify-content: space-between;
    /* Pushes the first item to the left, the last to the right, and spaces the one in the middle */
    align-items: center;
    /* Aligns items vertically in the center */
    padding: 10px;
}

/* Style for the lists and list items */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

/* Style for the center list to align its contents */
.center-list {
    margin-left: auto;
    /* Pushes the list to the right */
    margin-right: auto;
    /* Pushes the list to the left, effectively centering it */
}

/* Common styling for links */
nav a {
    color: white;
    text-decoration: none;
    font-family: cambria math;
    font-size: 30px;
    padding: 8px 12px;
    display: block;
}

/* Hover effect */
nav a:hover {
    background-color: rgba(59, 101, 251, 0.4);
    border-radius: 5px;
}

nav a.active {
    border-radius: 10%;
    font-weight: bolder;
    background-color: rgba(59, 101, 251, 0.3);
    color: #ffffff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}